<header>
    <nav>
        <img alt="logo" src="/public/images/Beats_Blockchains.png" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/market">Market</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/users/logout">Log Out</a></li>
        </ul>
        <p id="corner-balance">Current Balance: {{balance}}</p>
    </nav>
</header>
<main>
    <div class="songs-desc-left songs-desc-split">
        <form id="all-songs" action="/songs" method="GET">
            <button type="submit" class="nav-all-songs">Back to All Songs</button>
        </form>
        <div class="centered">
            <h1 class="songs-description-artist">{{songs.name}} by {{songs.artist}}</h1>
                <img class = "songs-desc-cover" alt = "Album Cover" src = "{{image}}">
        </div>
    </div>

    <div class="songs-desc-right songs-desc-split">
        <div class="centered">
                <h2 class="songs-description-headings">Description</h2>
                <h3 class="songs-description-values">{{songs.description}}</h3>
                
                <h2 class="songs-description-headings">Number of Tracks</h2>
                <h3 class="songs-description-values">{{songs.numberOfTracks}}</h3>
    
                <h2 class="songs-description-headings">Genre</h2>
                <h3 class="songs-description-values">{{songs.genre}}</h3>

                <h2 class="songs-description-headings">Current Price</h2>
                <h3 class="songs-description-values">${{songs.price}}</h3>

                <h2 class="songs-description-headings">Last Sold Price</h2>
                <h3 class="songs-description-values">${{songs.lastSoldPrice}}</h3>
            
            </div>
            <form id="buy-songs" action="/wallet/songs/{{songs._id}}" method="POST">
                <button type="submit" class="buy-songs">Buy Now</button>
            </form>
            {{#if errors}}
                <p>{{errors}}</p>
            {{/if}}
    </div>
   

</main>